* {
    margin: 0;
    padding: 0;
}
.con {
    display: flex;
}
.wel {
    width: 300px;
    height: 300px;
    background-color: red;
}
@media screen and (min-width: 500px) {
    .wel {
        background-color: green;
        width: 600px;
        height: 600px;
        padding: 10px;
    }
    .con {
        display: block;
    }
}